{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load myfilters %}
{% block page_content %}

<br>
<a  class="btn btn-outline-dark button-custom" href="{% url 'order_new' %}">{% translate 'goback' %}</a>
<br>

<div class="container">
    <br>
    <div class="row">

        <!-- Left -->
        <div class="col-lg-7">

            <!-- ----- FORM ----- -->
            <div class="row">
                {{ form.non_field_errors }}
                {{ form.errors }}
                <form  action='.' method="POST">

                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}" class="form-label">{% translate 'name' %}</label>
                        {{ form.name|addclass:'form-control' }}
                    </div>
                    <div class="mb-3">
                        {{ form.delivery_time.errors }}
                        <label for="{{ form.delivery_time.id_for_label }}">{% translate 'DeliveryTime' %}</label>
                        {{ form.delivery_time|addclass:'form-control' }}
                    </div>
                    <div class="mb-3">
                        {{ form.delivery_info.errors }}
                        <label for="{{ form.delivery_info.id_for_label }}">{% translate 'DeliveryInfo' %}</label>
                        {{ form.delivery_info|addclass:'form-control' }}
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            {{ form.paid.errors }}
                            {{ form.paid|addclass:'form-check-input' }}
                            <label for="{{ form.paid.id_for_label }}">{% translate 'Paid' %}</label>
                        </div>             
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            {{ form.delivered.errors }}
                            {{ form.delivered|addclass:'form-check-input' }}
                            <label for="{{ form.delivered.id_for_label }}">{% translate 'Delivered' %}</label>
                        </div>             
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-dark button-custom">{% translate 'SaveOrder' %}</button>
                    </div>
                   
                </form>
            </div>
            <!-- ----- END FORM ----- -->


        </div>



        <!-- Right -->
        <div class="col-lg-5">
            <div class="card position-sticky top-0">
                <div class="p-3 bg-light bg-opacity-10">
                    <h6 class="card-title mb-3">{% translate 'OrderSummary' %}</h6>
                    {% for item in items %}
                    <div id="oi-row-${i}" class="d-flex w-100 justify-content-between mb-1 small">
                        <div class="d-flex w-50 justify-content-left">
                            <span>{{item.product.name}}</span>
                        </div>
                        <div class="d-flex w-50 justify-content-between">
                            <span>$ {{item.price_total|floatformat:2}}</span>
                            <span>x {{item.quantity}}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="d-flex justify-content-between mb-4 small">
                        <span>Items</span> <strong class="text-dark">{{order.get_order_items_count}}</strong>
                    </div>
                    <div class="d-flex justify-content-between mb-4 small">
                        <span>TOTAL</span> <strong class="text-dark">$ {{order.get_order_total|floatformat:2}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}