{% extends 'base.html' %} 
{% block page_content %}
{% load myfilters %}
{% load i18n %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


<br>
<div class="container-fluid">

    <!-- ----- FORM ----- -->
    <div class="row">
        {{ form.non_field_errors }}
        {{ form.errors }}
        <form  class="form-inline" role="form" action='.' method="POST">
            <div class="row align-items-center g-3">
                {% csrf_token %}
                <div class="col-auto">
                    {{ form.name.errors }}
                    <label class="visually-hidden" for="{{ form.name.id_for_label }}">Product</label>
                    {{ form.name|addclass:'form-control' }}
                </div>
                <div class="col-auto">
                    {{ form.category.errors }}
                    <label class="visually-hidden" for="{{ form.category.id_for_label }}">Category</label>
                    {{ form.category|addclass:'form-control' }}
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        {{ form.active.errors }}
                        {{ form.active|addclass:'form-check-input' }}
                        <label for="{{ form.active.id_for_label }}">Include Disabled</label>
                    </div>             
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-dark button-custom">{% translate 'Search' %}</button>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-dark button-custom" href="{% url 'product-create' %}" role="button">{% translate 'NewProduct' %}</a>
                </div>
            </div>
        </form>
    </div>
    <!-- ----- END FORM ----- -->
    <br>

    {% if products|length > 0 %}
    <!-- TABLA DE EJEMPLO -->
    <div class="row">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{% translate 'Products' %}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Price' %}</th>
                                <th>{% trans 'Stock' %}</th>
                                <th>{% trans 'Status' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td><a href="{% url 'product-update' product.id %}">{{product}}</a></td>
                                <td>{{product.price}}</td>
                                <td><a href="{% url 'product-update' product.id %}">{{product.stock}}</a></td>
                                <td>{{product.active}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script type="text/javascript">

// dataTables plugin
$(document).ready( function () {
    $('#dataTable').DataTable();
} );

</script>

{% endblock %}