{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for order in orders %}

    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #ffca7a">
                <h5 class="card-title">{{order.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{order.timestamp}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{order.comment}}</h6>
                <p class="card-text">
                    {% for item in order_items %}
                        {% if item.order.slug == order.slug %}
                            -{{item.product.name}} x{{item.quantity}} <br>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Paid</small>
                {% if order.paid %}
                <div class="quantity">
                    <img data-product="${data[i].product_id}" data-action="add" class="add-item chg-quantity update-cart" src="/static/images/check-true.png">
                </div>
                {% else %}
                <div class="quantity">
                    <img data-product="${data[i].product_id}" data-action="add" class="add-item chg-quantity update-cart" src="/static/images/check-false.png">
                </div>
                {% endif %}
                
                <small class="text-muted">Delivered</small>
                {% if order.delivered == True %}
                <div class="quantity">
                    <img data-product="${data[i].product_id}" data-action="add" class="add-item chg-quantity update-cart" src="/static/images/check-true.png">
                </div>
                {% else %}
                <div class="quantity">
                    <img data-product="${data[i].product_id}" data-action="add" class="add-item chg-quantity update-cart" src="/static/images/check-false.png">
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}

</div>



{% endblock %}