{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for order in orders %}

    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #ffca7a">
                <h5 class="card-title">{{order.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{order.timestamp}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{order.comment}}</h6>
                <p class="card-text">
                    {% for item in order_items %}
                        {% if item.order.slug == order.slug %}
                            -{{item.product.name}} x{{item.quantity}} <br>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">

                <div class="form-check form-check-inline">
                    <input class="order-check-input" type="checkbox" id="paid" value="{{order.id}}"
                    {% if order.paid == True %}
                    checked
                    {% endif %} >
                    <label class="form-check-label" for="inlineCheckbox1">Paid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="order-check-input" type="checkbox" id="delivered" value="{{order.id}}" 
                    {% if order.delivered == True %}
                    checked
                    {% endif %} >
                    <label class="form-check-label" for="inlineCheckbox2">Delivered</label>
                </div>


            </div>
        </div>
    </div>

    {% endfor %}

</div>



{% endblock %}