
h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 14px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.check-container {
	display: flex;
	align-items: center;
	justify-content: center
}


.hidden{
	display: none!important;
}

body {
	background-color: #FAFAFA;
	font-family: 'Nunito', sans-serif;
	padding-top: 50px;
}


a,
p {
	color: #4b5156
}

a {
	font-weight: 600;
}

.product-items-wrapper{
	max-width: 550px;
	margin: auto;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
	box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

input {
	outline: none;
	border: none;
}

.header-bar {
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}

.header-bar a {
	color: rgb(247, 247, 247);
	text-decoration: none;
}

.product-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-top: 1px solid #dfe4ea;
	overflow: hidden;
}

.product-title {
	display: flex;
	padding: 20px;
}

.product-title a {
	text-decoration: none;
	color: #4b5156;
	margin-left: 10px;
}

.product-complete-icon {
	height: 20px;
	width: 20px;
	background-color: rgb(105, 192, 105);
	border-radius: 50%;
}

.product-incomplete-icon {
	height: 20px;
	width: 20px;
	background-color: rgb(218, 218, 218);
	border-radius: 50%;
}

.delete-link {
	text-decoration: none;
	font-weight: 900;
	color: #cf4949;
	font-size: 22px;
	line-height: 0;
	padding: 20px 0px;
}

/*Handle Classes*/

.handle {
	display: inline-block;
	padding: 20px 16px;
	cursor: grab;
	user-select: none;
}

.handle:after,
.handle:before {
	display: block;
	content: "";
}

.handle:active,
.handle:active:before,
.handle:active:after {
	cursor: grabbing;
}

.dropArea {
	background-color: #f1f2f6;
	color: black;
	border: #ced6e0 1px solid;
}

.selectedproduct {
	opacity: 0.6;
}


#add-link {
	color: #EB796F;
	text-decoration: none;
	font-size: 42px;
	text-shadow: 1px 1px #81413b;
}

#search-add-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

@media screen and (max-width:320px) {
	#search-add-wrapper {
		padding: 10px;
	}
}

input[type=text],
input[type=password],
textarea {
	border: 1px solid #757575;
	border-radius: 5px;
	padding: 10px;
	width: 90%;
}

label {
	padding-top: 10px !important;
	display: block;
}

::placeholder {
	font-weight: 300;
	opacity: 0.5;
}

.button {
	border: 1px solid #757575;
	background-color: #FFF;
	color: #EB796F;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.card-body {
	padding: 20px;
}