{% extends "base.html" %}
{% load static %}
{% block page_content %}
{% load myfilters %}
{% load i18n %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
    integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<br>

<div class="container-fluid">

    <!-- ----- FORM ----- -->
    <div class="row">
        {{ form.non_field_errors }}
        {{ form.errors }}
        <form class="form-inline" action='.' method="POST">
            <div class="row align-items-center g-3">
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group">
                        {{ form.from_date.errors }}
                        <label class="visually-hidden" for="{{ form.from_date.id_for_label }}">From:</label>
                        {{ form.from_date|addclass:'form-control' }}
                        {{ form.from_time.errors }}
                        <label class="visually-hidden" for="{{ form.from_time.id_for_label }}">From:</label>
                        {{ form.from_time|addclass:'form-control' }}
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        {{ form.to_date.errors }}
                        <label class="visually-hidden" for="{{ form.to_date.id_for_label }}">From:</label>
                        {{ form.to_date|addclass:'form-control' }}
                        {{ form.to_time.errors }}
                        <label class="visually-hidden" for="{{ form.to_time.id_for_label }}">From:</label>
                        {{ form.to_time|addclass:'form-control' }}
                    </div>
                </div>
                <div class="col-auto">
                    {{ form.product.errors }}
                    <label class="visually-hidden" for="{{ form.product.id_for_label }}">Product:</label>
                    {{ form.product|addclass:'form-control' }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-dark button-custom">{% translate 'Submit' %}</button>
                </div>
            </div>
        </form>
    </div>
    <!-- ----- END FORM ----- -->

    <br>

    {% if order_items %}

    <!-- Cards -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% translate 'Sales' %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">   {{ count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% translate 'Earnings' %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">   $ {{ amount }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- CHARTS -->
    <div class="row">

        <!-- ----- LINE Chart ----- -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% translate 'Sales' %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- ----- PIE Chart ----- -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% translate 'EarningsbyCategory' %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----- Data Table ----- -->
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{% translate 'Sales' %}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">{% translate 'Date' %}</th>
                                <th scope="col">{% translate 'Order' %}</th>
                                <th scope="col">{% translate 'Quantity' %}</th>
                                <th scope="col">{% translate 'Value' %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in order_items %}
                            <tr>
                                <td>{{item.order.checkout_date}}</td>
                                <td>{{item.order.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>$ {{item.price_total}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


</div>
<!-- /.container-fluid -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="{% static '/js/dash.js' %}"></script>
<script type="text/javascript">




    displayPieChart({{ pie_data| safe }}, {{ pie_labels| safe }});
    displayLineChart({{ line_data| safe }}, {{ line_labels| safe }});

    // dataTables plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

</script>

{% endblock %}